* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    /* Adiciona melhor controle do layout */
}

section {
    min-height: 100vh;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 100;
    background: none;
    display: flex;
    justify-content: flex-end;
    font-family: "Poppins", sans-serif;
    padding: 10px;
    margin: 10px;
    border-bottom: 1px solid #ffffff62;
}


.navbar {
    display: flex;
    background: none;
    margin-right: 2rem;
}

.navbar a {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    margin-right: 1.5rem;
    transition: .5s;
}

.navbar a:hover {
    color: #FF914D;

}

#bnt-inicio {
    color: #FF914D;
    border-bottom: 1px solid #FFF;
}

.btn-adquira a {
    font-weight: 400;
    background: #FF914D;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    transition: .6s;
}

.btn-adquira a:hover {
    background: #FFF;
    color: #FF914D;
}

.section-contact {
    background: url(/img/teste.png) no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    gap: 5rem;
}

.info-contact {
    background: none;
    padding: 10px;
    max-width: 600px;
}

.frase-contact {
    background: none;
    font-size: 22px;
    padding-bottom: 3rem;
}

.frase2-contact h4 {
    background: none;
    font-size: 22px;
    margin-bottom: 1rem;
}

.frase2-contact p {
    font-size: 20px;
    font-weight: 500;
}

.frase2-contact span {
    color: #FF914D;
}

.forms {
    background: none;
    padding: 15px;
    border: 1px solid #ffffffb4;
    border-radius: 20px;
}

.forms-contact {
    background: none;
    padding: 10px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frase3-contact {
    font-size: 24px;
    padding-bottom: 1rem;
    text-align: center;
}

.forms-edited {
    border: 1px solid #ffffffb4;
    border-radius: 20px;
    background: none;
    height: 40px;
    width: 350px;
    font-size: 20px;
    padding-left: 10px;
    color: #FFF;
    font-weight: 500;
}
::placeholder {
    color: #ffffffc9;
}

#mensagem {
    background: none;
    border-radius: 20px;
    resize: none;
    height: 100px;
    width: 350px;
    font-size: 20px;
    padding-left: 10px;
    border: 1px solid #ffffffb4;
    font-family: "Montserrat", sans-serif;
    padding-top: 10px;
    color: #FFF;
    font-weight: 500;
}

.btn-enviar {
    background: none;
    display: flex;
    justify-content: end;
}

#btn-submit {
    font-size: 20px;
    background: none;
    padding: 10px;
    border-radius: 20px;
    color: #FFF;
    border: 1px solid #ffffffb4;
    cursor: pointer;
}